@page
@model Project_Management_Tool.Pages.Users.IndexModel
@{
}

<script>
    function updateStatus(checkbox) {
        var userId = checkbox.getAttribute('data-id');
        var isChecked = checkbox.checked ? 1 : 0; // Convert boolean to 0 or 1

        // Send AJAX request to update status
        fetch('/Users/UpdateStatus', {
            console.log("HERE");
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify({
                userId: userId,
                isChecked: isChecked
            })
        })
            .then(response => response.json())
            .then(data => {
                console.log(data); // Handle the response if needed
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>

<br>
<h2>List of Users</h2>
<a class='btn btn-primary btn-sm' href='/Users/Create'>New User</a>
<table class="table">
    <thead>
        <tr>
            <th>Done</th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Task</th>
            <th>Admin Perms</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listUsers)
        {
            <tr>
                <td><input type="checkbox" enabled @(item.done ? "checked" : "") data-id="@item.id" onclick="updateStatus(this)" /></td>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.task</td>
                <td>@item.admin_perms</td>
                <td>@item.created_at</td>
                <td>
                    <a class="btn btn-primary btm-sm" href="/Users/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Users/Delete?id=@item.id">Delete</a>
                </td>
             </tr>
        }
    </tbody>
</table>

